div,h1{
    margin: 0;
    padding: 0;
}
#fw-nz{
    width: 550px;
    border: 5px dotted #38A302;
    margin: 0 auto;
    background: #D8E989;
    border-radius: 50px;
}


.nz-top{
    text-align: center;
}

.nz-beijing{
    width: 480px;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    border: 1px dotted #40AFD3;
    padding: 10px;
    border-radius: 20px;
}
p{
    display: inline;
    font-weight: bold;
}



.nz-alarm{
    display: inline;
    width: 65px;
    height: 35px;
    border-radius: 8px;
    font-size: 30px;
}
.nz-music{
    width: 300px;
    height: 25px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}